click  # 8.1.4
rich  # 13.5.2
requests  # 2.31.0
click-plugins  # 1.1.1
types-requests  # 2.31.0.2
pyecharts==2.0.4  # 2.0.4
openai  # 0.28.1
pytest==7.4.0
coverage==7.2.7
flake8==6.0.0
black==23.7.0
isort==5.12.0
pytest-cov==4.1.0
codecov==2.1.13
mypy==1.4.1